<link rel="stylesheet" href="./styles/roadmap.css" type="text/css">
<h1 id="roadmapTitle">
    <%= title %>
</h1>
<ul>
    <% steps.forEach(function(step, index) { %>
        <% if (index % 2==0) { %>
            <li class="rotate-out even">
                <% } else { %>
            <li class="rotate-in odd">
                <% } %>
                    <% if (checkboxStates[index]==true) { %>
                        <div class="form-check true">
                            <% } else { %>
                                <div class="form-check false">
                                    <% } %>
                                        <% if (checkboxStates[index]==false) { %>
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="step<%-index%>">
                                            <label class="form-check-label" for="step<%-index%>">Step <%= index + 1 %>
                                            </label>
                                            <% } else { %>
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="step<%-index%>" checked>
                                                <label class="form-check-label step" for="step<%-index%>">Step <%= index
                                                        + 1 %>
                                                </label>
                                                <% } %>
                                                    <p>
                                                        <%= step %>
                                                    </p>
                                </div>
            </li>
            <% }); %>
</ul>