<style>
    .VIpgJd-ZVi9od-ORHb {
        display: none;
    }



    .VIpgJd-ZVi9od-l4eHX-hSRGPD {
        display: none;
    }
</style>

<%- include('components/headHTML.ejs') %>
    <%- include('components/navbar_header_logout.ejs') %>

        <div id="google_translate_element style=display: none;"></div>

        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en'
                }, 'google_translate_element');
            }
        </script>

        <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
            // Detect and store the language
            var language = navigator.language || navigator.userLanguage;
            // Use the language variable as needed
            console.log('Detected language:', language);
        </script>

        <body>





            <%- include('components/navbar_header_logout.ejs') %>
                <!-- Share Modal starts here-->
                <%- include('components/deleteModal.ejs') %>
                    <!-- Delete Modal starts here-->
                    <%- include('shareModal.ejs') %>

                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({
                                    pageLanguage: 'en'
                                }, 'google_translate_element');
                            }
                        </script>

                        <script type="text/javascript"
                            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


                        <div class="container col">
                            <h1 class="text-center">Saved Roadmaps</h1>
                            <% let i=0; %>
                                <% for(i=0; i < savedList.length; i++) { %>
                                    <%- include("components/savedRoadmaps_card.ejs", savedList[i]) %>
                                        <% } %>
                        </div>


                        <script src="../scripts/shareModal.js"></script>
                        <script src="../scripts/savedRoadmaps.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


                        <%- include('components/footer.ejs') %>

        </body>

        </html>