<%- include('components/headHTML.ejs') %>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
            margin: 10px;
            max-width: 90%;
        }

        ul li {
            margin-left: 10px;
            border: 2px purple solid;
            backface-visibility: hidden;
            padding: 5px;
        }

        ul li:hover {
            background-color: #e6e6ff;
        }

        button {
            text-align: center;
            margin: auto;
        }
    </style>


    <body>
        <%- include('components/navbar_header.ejs') %>

            <%- include('components/roadmap.ejs') %>

                <button class="btn btn-primary col-6 col-md-12 py-md-3" onclick=saveProgress(mapID)>Save
                    Progress</button>
                <%- include('components/footer.ejs') %>
    </body>

    <script src="../scripts/trackProgress.js"></script>
    <script>
        let mapID = "<%= mapID %>";
    </script>

    </html>